<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Food item #<%= @food_item.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/food_items" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/food_items/<%= @food_item.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit food item
        </a>
      </div>

      <div class="col">
        <a href="/delete_food_item/<%= @food_item.id %>" class="btn btn-block btn-outline-secondary">
          Delete food item
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food item
      </dt>
      <dd>
        <%= @food_item.food_item %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_item.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_item.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

