<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Wellness log #<%= @wellness_log.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/wellness_logs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/wellness_logs/<%= @wellness_log.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit wellness log
        </a>
      </div>

      <div class="col">
        <a href="/delete_wellness_log/<%= @wellness_log.id %>" class="btn btn-block btn-outline-secondary">
          Delete wellness log
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Gut wellness
      </dt>
      <dd>
        <%= @wellness_log.gut_wellness %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @wellness_log.date %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @wellness_log.user.present? %>
          <a href="/users/<%= @wellness_log.user_id %>">
            <%= @wellness_log.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@wellness_log.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@wellness_log.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "wellness_log_templates/wellness_log_food_logs" %>
  </div>
</div>
