<% if @food_log.present? %>
  <% if @food_log.errors.any? %>
    <% @food_log.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new food log
</h1>


<hr>

<form action="/create_food_log" method="post">

  <div class="form-group">
    <label for="food_item_id">
      Food item
    </label>

    <input type="text" id="food_item_id" name="food_item_id" class="form-control" value="<%= @food_log.food_item_id %>">
  </div>

  <div class="form-group">
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" class="form-control" value="<%= @food_log.date %>">
  </div>

  <div class="form-group">
    <label for="wellness_log_id">
      Wellness log
    </label>

    <%= select_tag(:wellness_log_id, options_from_collection_for_select(WellnessLog.all, :id, :gut_wellness, @food_log.wellness_log_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @food_log.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create food log
  </button>
</form>

<hr>

<a href="/food_logs">
  Go back
</a>
