<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Food log #<%= @food_log.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/food_logs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/food_logs/<%= @food_log.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit food log
        </a>
      </div>

      <div class="col">
        <a href="/delete_food_log/<%= @food_log.id %>" class="btn btn-block btn-outline-secondary">
          Delete food log
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Food item
      </dt>
      <dd>
        <%= @food_log.food_item_id %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @food_log.date %>
      </dd>

      <dt>
        Wellness log
      </dt>
      <dd>
        <% if @food_log.wellness_log.present? %>
          <a href="/wellness_logs/<%= @food_log.wellness_log_id %>">
            <%= @food_log.wellness_log.gut_wellness %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @food_log.user.present? %>
          <a href="/users/<%= @food_log.user_id %>">
            <%= @food_log.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_log.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@food_log.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

